<div class="mt-4">
    <h3>
        Đăng khóa học
    </h3>
    <form method="POST" action="/course/store">
        <div class="mb-3">
            <label for="Name" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập vào tên của khóa học">
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Mô tả khóa học</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Nhập vào mô tả của khóa học">
        </div>
        <div class="mb-3">
            <label for="Image" class="form-label">Hình ảnh mô tả khóa học</label>
            <input type="text" class="form-control" id="image" name="image" placeholder="Nhập vào link của image">
        </div>
        <div class="mb-3">
            <label for="VideoId" class="form-label">Video mô tả khóa học</label>
            <input type="text" class="form-control" id="videoId" name="videoId" placeholder="Nhập vào ID của video">
        </div>
        <div class="mb-3">
            <label for="Level" class="form-label">Trình độ</label>
            <input type="text" class="form-control" id="Level" name="level" placeholder="Nhập vào trình độ của yêu cầu">
        </div>
        <button class="btn btn-primary" type="submit">Thêm khóa học</button>
    </form>
</div>